altgraph        0.17
anaconda        0.0.1.1
appdirs         1.4.4
certifi         2020.12.5
chardet         4.0.0
colorama        0.4.3
distlib         0.3.1
Django          2.2.17
filelock        3.0.12
future          0.18.2
geojson         2.5.0
idna            2.10
numpy           1.18.4
pandas          1.0.3
pefile          2019.4.18
Pillow          7.1.1
pip             21.0.1
psutil          5.7.0
PyInstaller     3.6
pyowm           2.10.0
python-dateutil 2.8.1
pytz            2020.5
pywin32-ctypes  0.2.0
requests        2.25.1
setuptools      41.2.0
six             1.15.0
sqlparse        0.4.1
urllib3         1.25.9
virtualenv      20.0.20
