{% extends 'ordersapp/order_base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container my-4">
        <div class="category_delete">
            <div class="h1" style="color:darkred">Уверены, что хотите удалить?</div>
            {% include 'ordersapp/includes/inc_order_summary.html' %}
            <div class="container">
                <form action="{% url 'ordersapp:order_delete' object.pk %}" method="post">
                    <div class="row mb-2">
                        {% csrf_token %}
                        <input class="btn btn_a col-lg-3 col-md-3 col-6" type="submit" value="удалить">
                    </div>
                </form>

                <div class="row mb-2">
                    <button class="btn col-lg-3 col-md-3 col-6">
                        <a href="{% url 'ordersapp:orders_list' %}">отмена</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}